{{/* Author names link to their profile on the People page where one exists. */}}
{{ $authors := .Params.authors | default slice }}
{{ $n := len $authors }}
{{ range $i, $a := $authors }}
  {{- if $i }}{{ if and (eq $i (sub $n 1)) (gt $n 1) }} and {{ else }}, {{ end }}{{ end -}}
  {{- $slug := $a | urlize -}}
  {{- $profile := false -}}
  {{- with site.GetPage (printf "/authors/%s" $slug) }}{{ $profile = . }}{{ end -}}
  {{- if $profile }}<a href="{{ $profile.RelPermalink }}">{{ $a }}</a>{{ else }}{{ $a }}{{ end -}}
{{ end }}
